.env.local
backend/_uploads/
backend/_drive/
backend/_models/
node_modules/
.next/
_uploads
# IDE
.vscode/

# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.pytest_cache/
.py_venv


# Django
db.sqlite3

# Local databases
*.db

# Virtual environments
.venv/
venv/

# Node
node_modules/
*.360
token.json